*{
    margin-top: 10px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkcyan;
}

ul{
    margin: 40px;
    float: right;
    list-style-type: none;
    position: relative;
}


ul li{
    display: inline;
}

ul li a
{
  font-family: 'Montserrat Subrayada', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: #5fdbec;
  padding: 6px 20px;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 20px;
  background-color: black;
}

ul li a:hover{
background-color: cyan;
color: black;

}

header{
    display: flex;
    flex-direction: column-reverse; 
}


header .pic{
    width: 300px;
    height: 350px;
    border-radius: 4px;
    margin: 30px;   
}
header h3{
    font-size: 60px;
    color : #ffffff; 


}
#inner p {
    padding: 30px;  
    margin-bottom: 10px;
    font-size: 30px;
  }